@model IEnumerable<VERPSWeb.vwWHheader>

@{
    ViewBag.Title = "Monthly Working Hours Summary";
}

<h2>Monthly Working Hours Summary</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AWH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalWorkingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeDiff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalOvertime)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AWH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalWorkingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeDiff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalOvertime)
        </td>
        <td>
            @Html.ActionLink("Details", "../whmonthlies/index", new { id=item.Id })
        </td>
        <td>
            @Html.ActionLink("Print", "../whprinto/index", new { id = item.Id })
        </td>
    </tr>
}

</table>
