@model IEnumerable<VERPSWeb.vwWHMonthly>

@{
    Layout = "~/Views/Shared/_pLayout.cshtml";
    ViewBag.Title = "Working Hours";
}

<h4><b>@ViewBag.wh.FullName</b>, working hours during <b>@ViewBag.wh.RecYear - @ViewBag.wh.RecMonth</b></h4>

<table class="table">
    <tr>
        <td>
            <h5>Assigned Total WH: <b>@ViewBag.wh.AWH</b></h5>
        </td>
        <td>
            <h5>Total Time: <b>@ViewBag.wh.TotalWorkingTime</b></h5>
        </td>
        <td>
            <h5>Time Diff: <b>@ViewBag.wh.TimeDiff</b></h5>
        </td>
        <td>
            <h5>Total OT: <b>@ViewBag.wh.TotalOvertime</b></h5>
        </td>
    </tr>
</table>
<table class="table">
    <caption><h4>Daily Working Hour Details</h4></caption>
    <tr>
        <th>
            Date
        </th>
        <th>
            Day
        </th>
        <th>
            Entry
        </th>
        <th>
            Exit
        </th>
        <th>
            AWH
        </th>
        <th>
            TWT
        </th>
        <th>
            TDiff
        </th>
        <th>
            OT
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.WorkingDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Convert.ToDateTime(item.EntryTime).ToShortTimeString()
            </td>
            <td>
                @Convert.ToDateTime(item.ExitTime).ToShortTimeString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedWorkingHour)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TotalHours):@Html.DisplayFor(modelItem => item.TotalMinutes)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.HourDiff):@Html.DisplayFor(modelItem => item.MinuteDiff)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AcceptedOTeHrs):@Html.DisplayFor(modelItem => item.AcceptedOTMin)
            </td>

        </tr>
    }
</table>
